<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eRx - Hospitals</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/hospital-list.css">
    <link rel="icon" href="../assets/eRx.png" type="image/png">
</head>
<body>

<div id="name-container">
    <div id="name">
        <img id="logo" src="/assets/eRx.png" alt="logo"><span>      eRx</span> - by you always
    </div>
</div>

    {{#if user}}
    <a href="/user-profile" class="login-btn" id="user-info-btn">
        <div class="user-info visible">
            <div class="user-initial">{{user.name.[0]}}</div>
        </div>
    </a>
    {{else}}
        <a href="/login" class="login-btn" id="login-btn">
            <i class="fas fa-user user-icon"></i>
            Login
        </a>
    {{/if}}


<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/doctors">Doctors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hospitals">Hospitals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item">
                <a style="color: red;" class="nav-link" href="/emergency">Emergency</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/medicine">Medicines</a>
            </li>
        </ul>
    </div>
</nav>

{{#each hospitals}}
<div class="card mb-3 hospital-card" style="width: 80%; margin-left: 10%;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{this.image}}" class="img-fluid img-center rounded" alt="Hospital Image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <h6 class="degree-text">Specialties: <span class="hospital-services">{{this.specialties}}</span></h6>
                <p class="degree-text">Emergency Number: <span class="emergency-number">{{this.emergencyNumber}}</span></p>
                <p class="degree-text">Address: <span class="hospital-address">{{this.address}}</span></p>
                <p class="degree-text">Services: <span class="hospital-services">{{this.services}}</span></p>
                <p class="rating">{{this.rating}}</p>
                <a href="#" class="btn visit-button">View</a>
            </div>
        </div>
    </div>
</div>
{{/each}}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>
</html>
